RewriteEngine on
ErrorDocument 404 /portal/views/errores/404.php
RewriteRule ^/?$ portal/views/index.php

RewriteRule ^views/pages/$ portal/views/errores/403.php
RewriteRule ^municipalidad$ portal/views/pages/municipalidad.php
RewriteRule ^cas$ portal/views/pages/cas.php

#Lienas de codigo para cpanel
#RewriteEngine on
#ErrorDocument 404 /portal/views/errores/404.php
#RewriteRule ^/?$ portal/views/index.php

#RewriteRule ^views/pages/$ portal/views/errores/403.php
#RewriteRule ^municipalidad$ portal/views/pages/municipalidad.php
#RewriteRule ^cas$ portal/views/pages/cas.php