RewriteEngine on
ErrorDocument 404 /portal/views/errores/404.php
RewriteRule ^/?$ public/index.php

RewriteRule ^views/pages/$ views/errores/403.php

RewriteRule ^municipalidad$ views/pages/municipalidad.php
RewriteRule ^cas$ views/pages/cas.php