@media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }

.bg_bienvenido {
    background: url('/web_mtarma/assets/img/bg/semana_santa_2.jpg');
    padding-top: 15px;
    background-position-y:bottom;
    
    
}
.fond {
    background: linear-gradient(90deg,var(--semana-santa) 20%,rgba(17,54,128,.2) 80%);
    padding-top: 150px;
    padding-bottom: 130px;
 }


.bienvenido_container>p{
  color: var(--white-color);
  font-size: 16px;
  
}

.des-bienvenido {
  background-color: var(--semana-santa);
}

.bienvenido_container>h1 {
  color: var(--white-color);
  font-weight: 800;
}


@media (min-width: 280px) {
  .bg_bienvenido {
    background-size: cover;
  }
}

