@media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }

.bg_bienvenido {
    background: url('/portal/assets/img/bg/alc_1.jpg');
    padding-top: 15px;
    background-position-y:center;
    background-position-x:center;
    
}
.fond {
    background: linear-gradient(90deg,rgba(0,68,129,.9) 0%,rgba(0,68,129,.9) 80%);
    padding-top: 12em;
    padding-bottom: 7em;
   
 }


.bienvenido_container>p{
  color: var(--white-color);
  font-size: 16px;
  
}

.des-bienvenido {
  background-color: var(--semana-santa);
}

.bienvenido_container>h1 {
  color: var(--white-color);
  font-weight: 800;
}


@media (min-width: 280px) {
  .bg_bienvenido {
    background-size: cover;
  }
}


.normas>a{
  text-decoration: none;
  color: var(--white-color);
  font-weight: 600;
}

.normas>a:hover{
  text-decoration: none;
  color: var(--color-gestion);
  
}