@import url(/portal/assets/css/header_pag.css?=2.0);

.bg_pag {
    background: url('/portal/assets/img/bg/catedral.jpg');
    padding-top: 15px;
    background-position-y:center;
}

@media (min-width: 280px) {
  .bg_pag {
    background-size: cover;
  }
}

body {
  background-color: var(--bs-background-MPT);
}

.car {
  /*border: 1px solid var(--bs-cc-primary);*/
  background-color: var(--bs-white);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.5rem;
  transition: all .3s;
  padding: 1.4rem;
}

.car-list {
  /*border: 1px solid var(--bs-cc-primary);*/
  background-color: var(--bs-white);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.5rem;
  transition: all .3s;
  padding: 1.4rem;
}
.car>h5 {
  font-weight: 700;
}

.car>p {
  font-size: 0.9rem;
  font-weight: 400;
}

.car>a {
  color: var(--bs-cc-primary);
}

.car-des>a{
  color: var(--bs-cc-primary);
  text-decoration: none;
}

.car-des>a:hover{
  font-weight: 600;
}
.car:hover {
  box-shadow: 0.3rem 0.7rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.car-icon {
  align-items: center;
  justify-content: center;
  display: inline-flex!important;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  color: #126b49;
  background-color: #c9f0d8;
}

.car-icon>i {
  font-size: 1rem;
}

/*lista */

