@import url(/portal/assets/css/style.css);
@media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }

.fond_pag{
    background: linear-gradient(90deg,rgba(0,68,129,.9) 0%,rgba(0,68,129,.9) 80%);
    padding-top: 7rem;
    padding-bottom: 1rem;
 }


.pag_container>p{
  color: var(--white-color);
  font-size: 0.8rem;
}

.des-pag {
  background-color: var(--semana-santa);
}

.pag_container>h4 {
  color: var(--white-color);
  font-weight: 800;
}


