@import url(/web_mtarma/assets/css/style.css);
@media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }

.fond_pag{
    background: linear-gradient(90deg,var(--primary-color) 40%,rgba(17,54,128,.3) 80%);
    padding-top: 100px;
    padding-bottom: 30px;
 }


.pag_container>p{
  color: var(--white-color);
  font-size: 14px;
}

.des-pag {
  background-color: var(--semana-santa);
}

.pag_container>h4 {
  color: var(--white-color);
  font-weight: 700;
}


