@import url(/portal/assets/css/header_pag.css?=2.0);

.bg_pag {
    background: url('/portal/assets/img/bg/normas.jpg');
    padding-top: 15px;
    background-position-y:center;
}

@media (min-width: 280px) {
  .bg_pag {
    background-size: cover;
  }
}