@import url(/portal/assets/css/font.css?=2.2);
:root {
    /* bg color */
    --primary-color:#004481;
    --primary-button:#0056ac;
    --primary-buttonr:#015ebb;
    --secondary-color:#3f3b51;
    --white-color:#fff;
    --black-color:#3f3b51;
    --gris:#f0f0f0;
    --color-gestion: #ffc107;
    --cel-bbva:#17a2b8;
    --cel-bbva-os:#279aac;
    --celeste-gestion:#3363cc;
    --gris-color:#f0f0f0;
    --gris-text: #484848;
    --semana-santa:#390096;
    
}
body {
  font-family: Ralewayv2;
  background-color: var(--bs-background-MPT);
}
hr {
  color: #02366a;
  opacity: 40%;
}

@media screen and (max-width:600px){
  .gutter {
    padding-inline: 1.5rem;
  }
}

h1 {
  font-weight: 700;
 }

h2 {
  font-weight: 700;
}


/*badge*/
.sp-nuevo {
  color: #331980;
  background-color: #c2b1f5;
}

.sp-atendido {
  color: #126b49;
  background-color: #c9f0d8;
}

.sp-rechazado {
  color: #3d4053;
  background-color: #e9eaea;
}

.sp-proceso {
  color: #0056AC;
  background-color: #f3fdff;
}

.sp-finalizado {
  color: #ae1400;
  background-color: #ffd7d5;
}

/* subtitulo categoria*/

.sub_cat>h2 {
  color: var(--gris-text);
}

/*botones colores*/

.bt-primary{
  background-color: #dee8fc;
  color: #02366a;
}

.bt-primary:hover{
  background-color: #c6d7fd;
  color: #02366a;
}

.bt-primary:active>a{
  background-color: #c6d7fd;
  color: #02366a;
}


.btn-mpt-primary {
  color: var(--bs-white);
  background-color: var(--cel-bbva);
}

.btn-mpt-primary:hover {
  color: var(--bs-white);
  background-color: var(--cel-bbva-os);
}

/*tarjetas diseño nuevo*/
.car {
  /*border: 1px solid var(--bs-cc-primary);*/
  background-color: var(--bs-white);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.5rem;
  transition: all .3s;
  padding: 1.4rem;
}

.car-list {
  /*border: 1px solid var(--bs-cc-primary);*/
  background-color: var(--bs-white);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.5rem;
  transition: all .3s;
  padding: 1.4rem;
}
.car>h5 {
  font-weight: 700;
}

.car>p {
  font-size: 0.9rem;
  font-weight: 400;
}

.car>a {
  color: var(--bs-cc-primary);
}

.car-des>a{
  color: var(--bs-cc-primary);
  text-decoration: none;
}

.car-des>a:hover{
  font-weight: 600;
}
.car:hover {
  box-shadow: 0.3rem 0.7rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.car-icon {
  align-items: center;
  justify-content: center;
  display: inline-flex!important;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 0.5rem;
  margin-right: 1rem;

}

.car-icon>i {
  font-size: 1rem;
}


.car-2 {
  /*border: 1px solid var(--bs-cc-primary);*/
  background-color: var(--bs-white);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.5rem;
  transition: all .3s;
  padding: 1.1rem;
}
.car-2:hover {
  box-shadow: 0.3rem 0.7rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.car-2>ul>li>h5 {
  color: var(--bs-cc-primary);
  font-size: 1rem;
  font-weight: 700;
}

.car-2>p {
  font-size: 0.8rem;
  font-weight: 500;
}
.car-2>ul {
  align-items: start;
}
.car-2-icon {
  align-items: center;
  justify-content: center;
  display: inline-flex!important;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 0.4rem;
}

/*/tarjetas diseño nuevo*/

