@import url(/web_mtarma/public/assets/css/font.css?=1.2);
:root {
    /* bg color */
    --primary-color:#004481;
    --primary-button:#0056ac;
    --primary-buttonr:#015ebb;
    --secondary-color:#3f3b51;
    --white-color:#fff;
    --black-color:#3f3b51;
    --gris:#f0f0f0;
    --color-gestion: #ffc107;
    --cel-bbva:#17a2b8;
    --celeste-gestion:#3363cc;
    --gris-color:#f0f0f0;
    --gris-text: #121212;
    --semana-santa:#390096;
    
}
body {
  font-family: Raleway;
}

@media screen and (max-width:600px){
  .gutter {
    padding-inline: 1.5rem;
  }
}

h1 {
  font-weight: 700;
 }

h2 {
  font-weight: 700;
}


/*badge*/
.sp-nuevo {
  color: #331980;
  background-color: #c2b1f5;
}

.sp-atendido {
  color: #126b49;
  background-color: #c9f0d8;
}

.sp-rechazado {
  color: #3d4053;
  background-color: #e9eaea;
}

.sp-proceso {
  color: #0056AC;
  background-color: #f3fdff;
}
 /* botones */
 
.btn-gestion-primario {
  border: 0;
}
.btn-gestion-primario:hover {
  background-color: #1893ff;

}